body {
    background-color: #ecece7;
}

form {
    margin-left: 2%;
    margin-right: 2%;
}

label {
    font-weight: bold;
}

#title {
    position: relative;
    top: inherit;
    font-family: 'Changa', sans-serif;
}

#railway {
    width: 100%;
    height: 250px;
    left: 0%;
    top :0%;
    position: absolute;
    opacity: .2;
}

.card-header {
    font-size: large;
    font-weight: bolder;
    background-image: linear-gradient(#ffa500, rgb(252, 206, 0));
    
}

#header-div {
    margin: 5% ;
    
    text-align: center;
    position: relative;
    background-image: linear-gradient(#ffa500, rgb(252, 206, 0));
}    

#table-div {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: orange solid 2px;
}

#add-train-div {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border:orange solid 2px;
}

#add-train-header {
    margin-bottom: 2%;
}

/* button styling */

#submit-btn,
#update {
    background-image: linear-gradient(#ffa500, rgb(252, 206, 0));
    margin-bottom: 2%;
    color: black
}

#submit-btn:hover,
#update:hover {
    transform: translateY(-2px);
    transition: transform 150ms;
}

/* table styling */

th {
    font-size: 20px;
    text-align: left;
}

tr {
    width:100%;
}

table {
    width:100%;
}

.train-name-display {
    font-weight: 500;
    font-family: 'Changa', sans-serif;
    font-size: 18px;
    
}

.destination-display {
    font-family: 'Girassol', cursive;
    font-size: 20px;
}

.minutes-away-display {
    font-family: 'Orbitron', sans-serif;
}

.frequency-display {
    font-family: 'Orbitron', sans-serif;
    color: rgb(17, 20, 179);
}

.next-arrival-display {
    font-size: 20px;
    font-family: 'Changa', sans-serif;
}



/* Dialog box */

/* page would not load when linking jqueryUI theme, thinking it may need a npm package install? */

.ui-dialog-titlebar {
    background-color: orange;
    padding: 4px 4px 8px 4px;
} 

.ui-button {
    align-self: auto;
    float: right !important;
}

#dialog {
    background-color: white;
    border: 4px solid orange;
    font-size: 20px;
}

#dialog.ui-dialog-content.ui-widget-content {
    padding-left: 2px;
    padding-right: 2px;
}


