#header-div {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    text-align: center;
    position: relative;
    background-color:orange;
    
    
}

#header-div:before{ /*trying to mess with opacity on BG image */
   
    background-image: url(../images/train-background-1.png);
    opacity: .2;
}

#table-div {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    border: orange solid 2px;
}

#add-train-div {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    border:orange solid 2px;
}

form {
    margin-left: 2%;
    margin-right: 2%;
}


#add-train-header {
    margin-bottom: 2%;
}

label {
    font-weight: bold;
}

.card-header {
    font-size: large;
    font-weight: bolder;
    background-color:orange;
    
}

#submit-btn,
#update {
    background-color: orange;
    margin-bottom: 2%;
    color: black
}

#submit-btn:hover,
#update:hover {
    transform: translateY(-2px);
    transition: transform 150ms;
}